/* Couleur de fond de la page */
body {
	background: url(img/9.jpg);
  }
  
  .bandeau {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 100px;
	  background-color: #24292e;
	  color: #fff;
  }
  
  .fa-solid.fa-bookmark,
  .fa-sharp.fa-solid.fa-book {
	font-size: 40px;
  }
  
  h1 {
	text-align: center;
	font-size: 36px;
  }
  
  /* Style du formulaire de connexion */
  .form {
	background-color: rgba(0, 0, 0, 0.285);
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #24292e;
	padding: 40px;
	animation: form-entry 0.5s ease-in-out;
  }
  
  /* Style des champs de saisie */
  label {
	display: block;
	margin-top: 20px;
	font-size: 18px;
	color: #24292e;
	text-align: left;
  }
  
  input[type="text"],
  input[type="password"],
  #send,
  input[type="email"]{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 3px solid #24292e;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
  }
  #reset{
	width: 70px;
	padding: 5px;
	border-radius: 5px;
	border: 3px solid #24292e;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
  }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
	border-color: #0366d6;
	box-shadow: 0 0 10px #0366d6;
  }
  
  /* Style du bouton de connexion */
  #send {
	background-color: #24292e;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
  }
  
  #send:hover {
	background-color: #0366d6;
	border-color: #0366d6;
  }
  
  /* Style des liens "Mot de passe oublié" et "Inscrivez-vous" */
  .link {
	display: inline-block;
	/* margin-top: 20px; */
	padding: 10px 20px;
	background-color: #24292e;
	color: #fff;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	margin-top: 5px;
  }
  
  #inscrip:hover {
	color: #03d611;
  }
  
  #mdpOublie:hover {
	color: red;
  }
  
  #retour:hover {
	background-color: #0366d6;
  }
  
  /* Animation du formulaire */
  @keyframes form-entry {
	from {
	  opacity: 0;
	  transform: translateY(-50px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  /* Responsive */
  @media only screen and (max-width: 580px) {
	.form {
	  width: 80%;
	  max-width: none;
	}
  
	label {
	  text-align: center;
	}
  
	h4 {
	  font-size: 20px;
	  margin-bottom: 20px;
	}
  
	input[type="text"],
	input[type="password"],
	#send,
	input[type="mail"]{
	  font-size: 16px;
	}
  
	a {
	  font-size: 16px;
	}
  }
  
  sup {
	color: red;
  }
  footer {
	text-align: center;
  }
  
  .fieldset {
	background-color: rgba(0, 0, 0, 0.285);
	width: 60%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #24292e;
	padding: 40px;
	animation: form-entry 0.5s ease-in-out;
  }
  
  i {
	margin: 5px;
  }
  
  /* * Style dark mode  */
  .btnDark {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: #000000cc;
    border: 2px solid white;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* * Proprièté modifier lorsque la classe body est dark */
Body.dark {
    color:#fff!important;
    background: url(img/9\ -\ Copie.jpg) no-repeat center center fixed;
    background-size: cover;
	

  }

  body.dark .bandeau {
    background: white;
  }

  body.dark i {
    color: #000000;
  }
  
body.dark .label{
    color: white;
}

/* Quand body a la class dark alors btnDark  */
body.dark #btnDark {
    background: #fff;
    color: #333;
	border: 3px solid black;

}

body.dark #deco {
    color: #fff;
    transition: 0.5s;
}

body.dark #deco:hover {
    color: #ff0000;
}

body.dark #test{
    color: #fff;
}
body.dark #livre{
    color: #fff;
    background: #333333e4;
    border-radius: 5px;
}


body.dark .formDark {
    background-color: #ffffff33;
    border-color: white;
}

body.dark   input[type="text"],
input[type="password"],
input[type="submit"],
input[type="mail"] {
    color: black;
}

body.dark label {
    color: #000000;
}

body.dark legend {
    color: #fff;
}

body.dark fieldset {
    background-color: rgba(255, 255, 255, 0.245);
}

body.dark img{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

